/**
 * Improving slightly on the Bootstrap default badge design
 */
.badge
{
  border-radius : 0.2rem;
}

/**
 * Don't apply the shadow to the outlined badges
 */
.badge:not([class*="badge-outline-"])
{
  //box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

/**
 * Creates the badge-outline-COLOUR set of classes
 */
@mixin badge-outline-variant($color)
{
  color        : $color !important;
  border-color : $color;
  border       : .9px solid;
  font-weight  : 400;
  padding       : 0.1rem 0.25rem 0.2rem 0.25rem;
}

@each $color, $value in $theme-colors
{
  .badge-outline-#{$color}
  {
    @include badge-outline-variant($value);
  }

  .badge-#{$color}
  {
    // Add opacity of 0.2 to the background color
    background-color : rgba(red($value), green($value), blue($value), 0.2);
    color            : $value;
    font-weight      : 500;
    padding          : 2px 5px 3px 5px;
  }

  .badge-bold-#{$color}
  {
    // Add opacity of 0.2 to the background color
    background-color : rgba(red($value), green($value), blue($value));
    color            : white;
    font-weight      : 500;
    padding          : 2px 5px 3px 5px;
  }
}