
/**
 * An extra small button.
 */
$btn-padding-y-xs:      .125rem;
$btn-padding-x-xs:      .25rem;
$btn-font-size-xs:      $font-size-xs;
$btn-border-radius-xs:  $border-radius-xs;

.btn-xs {
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $btn-font-size-xs, $btn-border-radius-xs);
}

/**
 * Disabling a-href links by adding pointer events,
 * waiting for the ajax call to complete.
 * Prevents double clicking and accidentally sending
 * two commands.
 */
a.disabled-waiting{
  pointer-events: none;
}

/**
 * Create a more uniform min-size for the btn-sm size
 */
.btn-sm
{
  min-width: 2.2rem;
  min-height: 2rem;
}

.btn-sm i {
  padding-top: 0.25rem;
}

/**
 * Create a more square btn-xs button
 */
.btn-xs {
  padding: 0.25rem;
}

/**
 * Undo the transitions added by the ladda JS
 */
.ladda-button, .ladda-button .ladda-spinner, .ladda-button .ladda-label {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

/**
 * There is no need for the label to be position relative.
 * And it interferes with dropdown menus.
 */
.ladda-label
{
  position: unset !important;
}

/**
 * Grey overrides
 */
.btn-outline-gray,
.btn-outline-grey {
  color: #999999;
  border-color: #d9d9d9;
}
.btn-outline-gray:hover,
.btn-outline-grey:hover {
  color: #49505a;
  background-color: #e9ecef;
  border-color: #b9bec6;
}
/**
 * Blue overrides
 */
.btn-blue,
.btn-blue:hover
{
  color: white;
}

.btn-outline-dark:not(.disabled):hover{
  color: #ffffff !important;
}
.btn-outline-dark.disabled:hover{
  border-color: $border-color;
}

/**
 * Used if several buttons are to be floated right
 * in a modal header or footer.
 */
.modal .btn-float-right{
  float: right !important;
  //width: 100%;
}
.modal-header .btn-float-right{
  margin: -0.5rem 0 0.5rem 0;
}
.modal-dialog:not(.modal-tab) .modal-footer div.btn-float-right
{
  margin: -0.5rem 0 0 0;
}
.modal-dialog.modal-tab .modal-footer .btn-float-right
{
  margin: -0.5rem 1rem 0 0;
}
.modal-header .btn-float-right .btn,
.modal-footer .btn-float-right .btn
{
  //line-height: 1;
  margin: .5rem 0 0 .5rem;
}
/**
 *
 */
.modal-footer .btn-float-right .btn i,
form .btn i
{
  padding: 4px 0;
}

/**
 * Buttons in the button-float-right
 * should, err, float right.
 */
.btn-float-right
{
  //position: relative;
  //z-index: 6;
}

/**
 * Used if several buttons are to be floated right
 * in a card header or footer.
 */
.card-header .btn-float-right{
  margin: -0.5rem 0 0.5rem 0;
}
.card-footer .btn-float-right
{
  margin: -0.5rem 0 -0.5rem 0;
  display: flow-root;
  /**
   * Is set by design.
   * Do not set it to flex, it will mess with float-left/right.
   * It will mean that button order matters, if we're mixing dropdowns
   * with traditional buttons, and can result in buttons piling on top
   * of each other instead of being horizontal.
   */
  z-index: 0;
  // Set to zero allow buttons from the body to hover *over* buttons in the footer

  align-self: center;
  // Will position the buttons in the vertical middle of the footer
}

.card .btn-float-right .btn,
.modal .btn-float-right .btn,
.tab-pane .btn-float-right .btn
{
  //float: right !important;
  float: right;
  // We've removed the important flag, not sure if it's necessary
  margin: .25rem 0 .25rem .5rem;
}

// Bootstrap override for split buttons
.btn-group > .btn:not(:first-child) {
  margin-left: -0.5px !important;
}

.btn-float-right > .dropdown,
.btn-float-right > .dropup
{
  float: right !important;
}

/**
 * But only actual buttons (and
 * not dropdowns) need margins
 */
.card .btn-float-right > .btn,
.modal .btn-float-right > .btn,
.tab-pane .btn-float-right > .btn
{

}

.card .btn-float-right .btn-group,
.modal .btn-float-right .btn-group,
.tab-pane .btn-float-right .btn-group,
{
  float: right !important;
}

/**
 * Outlined buttons are by default still too loud.
 * By making their border colour almost invisible,
 * they are made quieter.
 */
.card .btn-float-right *[class*="btn-outline-"]:not(:hover),
.modal .btn-float-right *[class*="btn-outline-"]:not(:hover)
{
  border-color: $border-color;
}

/**
 * Success (green) coloured button overrides
 */
.btn-outline-success:hover {
  color: #fff !important; // On hover, make the text white
}
.btn-outline-success:not(:disabled):not(.disabled):active,
.btn-outline-success:not(:disabled):not(.disabled).active,
.show > .btn-outline-success.dropdown-toggle {
  color: #000; // On click make the text black
}
// Green (success) buttons should have white text (not default black)
.btn-green,
.btn-success
{
  color: #fff;
}

/**
 * Split buttons
 */

.dropdown-toggle-split {
  margin-left: 0 !important;
}


// Give padding to each item in the menu
ul.dropdown-menu > li > * {
  //padding: 0.3rem 1rem;
  //font-weight: 400;

}

// Give space for each icon
ul.dropdown-menu > li > * > i:first-child,
ul.dropdown-menu > li > * > * > i:first-child
{
  margin-right: 0.75rem;
}

// Make sure text stays black, even as link
ul.dropdown-menu > li a {
  color: #000000;
}

// Hover only changed background, not text colour or decoration
ul.dropdown-menu > li a:hover {
  color: #000000;
  background-color: #f0f0f0;
  text-decoration: none !important;
}

/**
 * For when a button is disabled, a wrapper is placed around it
 * otherwise, the disabled message cannot be presented to the user.
 *
 * float is unset, otherwise, the width/height of the wrapper becomes
 * 0x0 and the disabled message is not visible.
 */
.disabled-wrapper
{
  cursor: not-allowed;
  float: unset;
}

/**
 * Make the disabled wrapper float right if it's placed inside a
 * btn-float-right div.
 */
.btn-float-right > .disabled-wrapper
{
  float: right;
}

/**
 * For buttons that are to be hidden on mobile devices
 */
.btn-desktop-only {
  display: none;
}
@include media-breakpoint-up(sm) {
  .btn-desktop-only {
    display: inline-block;
  }
}