/**
 * The parent div, encasing all other
 * video modal divs. Takes over the whole
 * screen.
 */
.modal-video,
.modal-video-liveness
{
  z-index        : 1030;
  position       : absolute;
  display        : flex;
  top            : 0;
  bottom         : 0;
  right          : 0;
  left           : 0;
  background     : white;
  flex-direction : column;
  align-items    : center;
}

/**
 * The header and footer of the video.
 * The header can be used to display
 * any pointers to the user.
 */
.modal-video-header,
.modal-video-footer
{
  height          : 20%;
  padding         : 1rem;
  display         : flex;
  align-items     : center;
  justify-content : center;

  flex-direction  : column;
}

.modal-video-header
{
  font-size   : 125%;
  font-weight : 500;
  background  : white;
  z-index     : 1;
  width       : 100%;
}

.modal-video-footer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.modal-video-narrative
{
  text-align    : center;
  margin-bottom : 1rem;
}

/**
 * The close button on the top right.
 */
.modal-video-close-button
{
  margin-bottom : 1rem;
  position      : absolute;
  z-index       : 1;
  top           : 1%;
  right         : 1%;
  font-size     : 200%;
  border        : none;
}

/**
 * The wrapper around the video object.
 */
.modal-video-wrapper
{
  overflow        : hidden;
  align-items     : center;
  justify-content : center;
  /*display: none; Will switch to flex on load*/
  display         : flex;
  background      : black;
  width           : 100%;
  height          : 60%;
}

/**
 * The video object itself
 */
.modal-video-wrapper > video
{
  object-fit        : cover;
  width             : 100%;
  height            : 100%;

  -moz-transform    : scale(-1, 1);
  -webkit-transform : scale(-1, 1);
  -o-transform      : scale(-1, 1);
  transform         : scale(-1, 1);
  filter            : FlipH;
}

.modal-video-wrapper > canvas
{
  position : absolute;
}

/**
 * The canvas object isn't used for anything
 * bar converting video data to an image. It may
 * even be superfluous. For now it's just hidden.
 */
.modal-video-canvas
{
  display : none;
}

/**
 * Will contain the base64 image data. Could
 * eventually becomes superfluous and data
 * is just sent to a variable.
 */
.modal-video-image
{
  display : none;
}

.modal-video-proximity-bar-container
{
  position        : absolute;
  /*top: 0;*/
  left            : 0;
  width           : 100%;
  height          : 60%;
  display         : flex;
  justify-content : center;
  align-items     : center;

  display         : none;
}

.modal-video-proximity-bar-container svg
{
  display : block;
  height  : 80%;
  width   : 80%;
  opacity : 0.5;
}

.modal-video-aspect-ratio
{
  width  : 100%;
  height : 100%;
}


/* Countdown */
@mixin opacity($opacity: 0.5)
{
  -webkit-opacity : $opacity;
  -moz-opacity    : $opacity;
  opacity         : $opacity;
}

@mixin transition($transition)
{
  -webkit-transition : $transition;
  -moz-transition    : $transition;
  -ms-transition     : $transition;
  -o-transition      : $transition;
}

@mixin transform($string)
{
  -webkit-transform : $string;
  -moz-transform    : $string;
  -ms-transform     : $string;
  -o-transform      : $string;
}

.countdown-number
{
  width                       : 100vw;
  height                      : 100vh;
  position                    : absolute;
  left                        : 0;
  top                         : 0;
  margin-left                 : 0;
  color                       : #00ff00;
  font-size                   : 25vh;
  text-align                  : center;
  display                     : flex;
  align-items                 : center;
  justify-content             : space-evenly;
  line-height                 : 25vh;
  //letter-spacing              : -1rem;
  @include opacity(1.0);
  @include transition(opacity 0.4s ease);
  /* solve for flicker problem */
  -webkit-perspective         : 1000;
  -webkit-backface-visibility : hidden;
  overflow                    : hidden;
  z-index                     : 1;
}

.countdown-number.puffer
{
  font-size   : 100vh;
  line-height : 35vh;
  @include opacity(0);
  //@include transform(scale(5, 5));
  @include transition(all 0.3s ease-out);
}