/**
 * Bootstrap Card Overrides
 */

.card
{
  margin-bottom : $spacer;

  /**
   * KYC Cards V1
   */
  //box-shadow: 0 1px 3px rgba(0,0,0,.3);
  //border: 1px solid #fff;

  /**
   * Flat design
   */
  border        : .9px solid $border-color;

  /** The box-shadow used by KBC */
  //box-shadow: 1px 1px 2px 0 hsla(0, 0%, 0%, 0.2);

  /** The box-shadow used by Stripe */
  // box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px, rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;

  /** The box-shadow used by mybrandnewlogo.com, flattering, blurry */
  /* -webkit-box-shadow: 0 0.1rem 0.15rem rgba(40,36,89,0.15), 0 0.25rem 0.5rem rgba(40,36,89,0.15), 0 0.75rem 1.75rem rgba(40,36,89,0.2); */
  // box-shadow: 0 0.1rem 0.15rem rgba(40,36,89,0.15), 0 0.25rem 0.5rem rgba(40,36,89,0.15), 0 0.75rem 1.75rem rgba(40,36,89,0.2);
  // background: #f7f9fb;

  /* Faxburner card UI
  background: #fcfcfc;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  border: 1px solid #fff;
  border-radius: 5px;
  */
}

/**
Great, deep box shadow for super floaty cards
box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
 */

/**
 * To be used for floating (jQuery UI draggable) cards
 */
.card-floating
{
  box-shadow : 2px 2px 15px 0px hsla(0, 0%, 0%, 0.3);
}

.card-header
{
  font-weight   : 500;
  padding       : $card-spacer-y;
  //border-bottom : unset;
  background    : $header-footer-bg;
  font-size     : 12pt;

  //background     : hsla(210, 20%, 99%, 1);
  border-bottom : .9px solid $border-color;
}

/**
 * Make the card header thinner.
 */
.card-header .card-title
{
  text-transform : uppercase;
  letter-spacing : 1.5px;
  font-weight    : 400;
  font-size      : smaller;
}

.card-title > .far
{
  font-weight : 100 !important;
}

/**
 * Give the main card icon in the header
 * a little breathing room.
 */
.card-header .card-title i:first-of-type,
.card-footer .card-title i:first-of-type
{
  margin-right : .5rem;
}

.card-title
{
  margin-bottom : 0; //Undoing Bootstrap
}

/**
 * Card headers and footers are divided into two sections,
 * this prevents buttons to override the text and vice versa.
 * The default padding of the container needs to stripped out,
 * to avoid double padding.
 */
.card-header > .container-fluid,
.card-footer > .container-fluid,
.card-header > .container,
.card-footer > .container
{
  padding : 0;
}

.card-footer
{
  padding    : $card-spacer-y;
  border-top : unset;
  background : $header-footer-bg;

  border-top : .9px solid $border-color;
}

.card-body
{
  padding : $card-spacer-y;
}

/**
 * Specifically for the icon top left in the header.
 */
.card-header > .container > .row > .col-auto > .fa,
.card-header > .container > .row > .col-auto > .fab,
.card-header > .container > .row > .col-auto > .fal,
.card-header > .container > .row > .col-auto > .far,
.card-header > .container > .row > .col-auto > .fas
{
  margin-right : 0.5rem;
}

/**
 * Small text elements floating right below a card
 */
.card-post
{
  margin-top    : -0.5rem;
  padding       : 0 .5rem;
  margin-bottom : 1rem;
}

/**
 * For the rows
 */
.card-rows
{
  padding : $card-spacer-y;
}

.card-rows .row:not(:first-child)
{
  padding-top : .5rem;
}

.card-rows .row:not(:last-child)
{
  border-bottom  : .9px solid $border-color;
  padding-bottom : .5rem;
}

.card-body > *
{
  width : -webkit-fill-available;
  width : -moz-fill-available;
  width : fill-available;
}

/**
 * Set the body class to col-scroll to
 * enable col-scrolling in one of the columns.
 */
.card-body.col-scroll
{
  display : flex;
}

/**
 * Identifies the column to enable col-scrolling.
 */
.card-body .col-scroll
{
  overflow-y : auto;
  max-height : 100%;
}

/**
 * Fixes to the card group
 */
@media (min-width : 576px)
{
  .card-group > .card:not(:last-child)
  {
    margin-right : 1rem;
  }
  .card-group > .card
  {
    border : 0.9px solid $border-color !important;
  }
}