/**
 * All the button, etc. colours.
 * To add additional colours, add them to the list here.
 * Ideally, give semantic names, then (colour) descriptive names.
 */
$theme-colors: (
  "primary":    #3377cc, //$primary,
  "secondary":  #ff4c4c, //$secondary,

  "success":    $success,
  "info":       #0080b3, //$info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       #606976, //$dark,

  "navy":	  #001f3f,
  "blue":	  #0074d9,
  "aqua":	  #7fdbff,
  "teal":	  #39cccc,
  "olive":	  #3d9970,
  "green":	  #2ecc40,
  "lime":	  #01ff70,
  "yellow":	  #ffdc00,
  "orange":	  #ff851b,
  "red":	  #ff4136,
  "maroon":	  #85144b,
  "fuchsia":  #f012be,
  "purple":	  #b10dc9,

  "black":	  #111111,
  "gray":	  #999999,
  "grey":	  #999999,
  "silver":	  #dddddd
);

/**
 * Theme
 */
$base-color: hsl(204, 100%, 50%); // Base
$navbar-level1-bg:       darken(desaturate(adjust_hue($base-color, 0%), 90%), 25%); // Level 1 background
$navbar-level2-bg:      lighten(desaturate(adjust_hue($base-color, 0%), 34%), 25%); // Level 2 background
$body-bg:               lighten(desaturate(adjust_hue($base-color, 0%), 70%), 46%); // Level 2 background
$card-header-footer-bg: lighten(desaturate(adjust_hue($base-color, 0%), 76%), 48%); // Card header-footer background

//$navbar-level1-bg:      hsla(207, 10%, 25%, 1); // Level 1 background
//$navbar-level2-bg:      hsla(207, 66%, 75%, 1); // Level 2 background
//$body-bg:               hsla(207, 30%, 96%, 1); // Page background
//$card-header-footer-bg: hsla(207, 24%, 98%, 1); // Card header-footer background