/**
 * Styles for D3.js Force Directed Graphs (FDG).
 */
.fdg path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.fdg circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

.fdg text {
  fill: #000;
  pointer-events: none;
}