/**
 * Fonts
 */
//@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900');
//very nice, good arabic support, but larger sizes not so nice

@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
//Similar to the DIN font family, very tidy
//The KYCDD official font

//@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');
//Monospace font
/**
 * While inconsolata is prettier, Roboto Mono includes Greek characters.
 * 300 is a little thin, and 400 is a little thick.
 * The compromise is to reduce the font-size to 90%.
 */

/**
 * Bootstrap variable overrides
 */
$font-family-sans-serif : "Barlow";
$font-family-base       : "Barlow";
//$font-weight-base: 300;
//$font-weight-bolder: 600;

// Experimental
$font-family-monospace  : "Roboto Mono";

@keyframes fa-blink {
  0% { opacity: 1; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 0; }
}
.fa-blink {
  -webkit-animation: fa-blink .75s linear infinite;
  -moz-animation: fa-blink .75s linear infinite;
  -ms-animation: fa-blink .75s linear infinite;
  -o-animation: fa-blink .75s linear infinite;
  animation: fa-blink .75s linear infinite;
}

@keyframes fa-beat {
  0% { transform: scale(0.75); opacity: 1; }
  50% { transform: scale(1); opacity: .75; }
  100% { transform: scale(0.75); opacity: 1; }
}

.fa-beat {
  -webkit-animation: fa-beat 1s infinite ease-in-out;
  -moz-animation: fa-beat 1s infinite ease-in-out;
  -ms-animation: fa-beat 1s infinite ease-in-out;
  -o-animation: fa-beat 1s infinite ease-in-out;
  animation: fa-beat 1s infinite ease-in-out;
}