/**
 * GridstackJS overrides.
 */

/**
 * So that when a card is resized, the content is still accessible.
 */
.grid-stack .card-body {
  overflow-y: auto;
}

/**
 * Ensures the integrity of the card
 */
.grid-stack .card {
  height: 100%;
}

.grid-stack>.grid-stack-item>.grid-stack-item-content {
  overflow: visible;
  /**
   * We're removing scroll bars from the item-content,
   * and moving it to the card-body.
   */
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  /**
   * For some reason, Gridstack hides the box shadow from
   * cards, so we're just re-introducing the same shadow here.
   */
}