/**
 * The max screen width before it goes
 * goes up a class.
 */
$grid-breakpoints     : (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
  // Additional, larger sizes for larger screens
        2xl: 1440px,
        3xl: 1620px,
        4xl: 1860px,
        5xl: 2040px,
        6xl: 2280px,
        7xl: 2460px,
        8xl: 2700px
);

/**
 * The corresponding container size.
 * Not sure if we need these any more
 */
$container-max-widths : (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
  // Additional, larger sizes for larger screens
        2xl: 1380px,
        3xl: 1560px,
        4xl: 1800px,
        5xl: 1980px,
        6xl: 2220px,
        7xl: 2400px,
        8xl: 2640px
);

/* For when there is only one column and it's a fixed width column */
.fixed-width-column
{
  min-width : 23rem;
  max-width : 100%;
}

.add-list:not(:first-of-type)
{
  border-top: .9px solid $border-color;
  padding-top: 1rem;
}

/**
 * GridstackJS overrides.
 */

.grid-stack {
  padding: 0 !important;
  /**
   * Removes the padding on the card body that is hosting the grid stack.
   */
}
.grid-stack > .grid-stack-item > .grid-stack-item-content
{
  overflow   : visible;
  /**
   * Ensures the drop-and-down menu doesn't disappear.
   * Prevents scroll bars.
   */
}

/**
 * Hide the border unless you're hovering over the element.
 */
.card.grid-stack-item
{
  border-color : white;
}

.card.grid-stack-item:hover
{
  border-color : $border-color;
}

/**
 * Solves the issue of <img> overflowing.
 */
.grid-stack-item-content .row
{
  //display: block;
  // Causes a lot more problems than it solves with .table-containers and .btns
}

// The buttons to control the card
.grid-card-control-buttons
{
  position: absolute;
  width: auto !important;
  // Important to trump .card-body > * widths that are set to fill-available
  top: .5rem;
  right: .5rem;
  //z-index: 3;
  //To allow the dropdown to over hover all other elements + be easy to access
}

/**
 * UI change when a field is being
 * hovered over a remove class.
 * Not currently in use.
 */
.grid-stack-item-removing {
  border-color: red !important;
  color: red;
}

.grid-stack-placeholder > *{
  border-radius: var(--bs-card-border-radius);
}

/**
 * So that CSS table columns align with large text.
 * Might have unintended consequences for longer pieces of text.
 *
 * Disabled for now to test the consequences.
 */
.table-body .col {
  //overflow: hidden;
  //white-space: nowrap;
  //text-overflow: ellipsis;
}

/**
 * Row cells with buttons are designated col-sm (instead of col)
 * to avoid their content being hidden by the overflow:hidden flag.
 * In addition, th col-sm has a z-index that allows button content
 * to float over other buttons.
 */
.col-sm{
  //z-index: 5;
  //Didn't work, caused a headache when dropdowns went over the below line
}

/**
 * The z-index is set to 2 or else dropdowns will disappear. May have
 * other unintended consequences.
 */
.card-footer .col {
  z-index: 2;
}

/**
 * Remove gutters to fit split.js
 */
.no-gutters {
  margin-right: 0 !important;
  margin-left: 0 !important;
  flex-wrap: unset !important;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Split.js styles
 */
.split {
  display: flex;
  flex-direction: row;
}

.gutter.gutter-horizontal:hover {
  cursor: col-resize;
}

// Removes the flex that at times prevents column adjustment
.row.no-gutters > .col-sm {
  flex: inherit;
}

.grid-row {
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.grid-row:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}