/**
 * Flag icon spacing
 */

*:not(.text-rtl) i.flag-icon
{
  margin-right: 0.5rem;
  margin-left: unset;
}

.select2-container:not(.text-rtl) i.fa-light
{
  margin-right: 0.5rem;
}

// Badges don't have margins for flags by default
.badge > i.flag-icon
{
  margin: unset;
}