/**
 * Experimental, add blur,
 * reduce the background opacity (make it lighter)
 */
.modal-backdrop.show {
  // Undo Bootstrap defaults
  opacity: 1;
  background: none;
  // Add darkness and blur this way instead
  backdrop-filter: brightness(0.8) blur(2px);
}

/**
 * Ensure modal headers and footers are aligned with the body
 */
.modal-header,
.modal-footer
{
  padding: 1rem 0;
  border:none;
}
.modal-footer
{
  background: $header-footer-bg;
}
.modal-footer > * {
  margin: 0.25rem 0;
}

/**
 * Make modals look like cards
 */
.modal-content
{
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
  border: 1px solid #fff;
}

/**
 * Make the header text stand out a little
 */
.modal-header
{
  font-weight: 600;
  background: $header-footer-bg;
}

/**
 * The (optional) modal close button must
 * be placed all the way to the right.
 */
.modal-header .close
{
  float:right;
}

/**
 * Give the main modal icon in the header
 * a little breathing room.
 */
.modal-header .modal-title i:first-of-type{
  margin-right: .5rem;
}
//.modal-title{
//  margin-bottom: 0; //Undoing Bootstrap
//}

.modal-body > * {
  width: -webkit-fill-available;
  width: -moz-fill-available;
  width: fill-available;
}

/**
 * Set the body class to col-scroll to
 * enable col-scrolling in one of the columns.
 */
.modal-body.col-scroll
{
  display: flex;
}

/**
 * Identifies the column to enable col-scrolling.
 */
.modal-body .col-scroll
{
  overflow-y: auto;
  max-height: 100%;
}