/**
 * Experimental, add blur,
 * reduce the background opacity (make it lighter)
 *
 * Beautiful, but very resource intensive. Disabled for now.
 */
/*
.modal-backdrop.show {
  // Undo Bootstrap defaults
  opacity: 1;
  background: none;
  // Add darkness and blur this way instead
  backdrop-filter: brightness(0.8) blur(2px);
}
*/

/**
 * XXL modals
 */
@include media-breakpoint-up(xxl)
{
  .modal-xxl
  {
    max-width : $modal-xxl;
  }
}

/**
 * Ensure modal headers and footers are aligned with the body
 */
.modal-header,
.modal-footer
{
  padding : 1rem 0;
  //border  : none;
  // Part of Tabs 2.0
}

/**
 * So that it is apparent that you can drag draggable modals.
 */
.modal-header-draggable
{
  cursor : move;
}

/**
 * Make modals look like cards
 */
.modal-content
{
  box-shadow : 0 1px 3px rgba(0, 0, 0, .3);
  border     : 1px solid #ffffff;
}

/**
 * Not 100% sure about any repercussions, but
 * without it, button dropdowns drown.
 */
.modal-dialog-scrollable .modal-content{
  overflow: unset;
}

/**
 * The container for tabs in modals
 */
.modal-tabs
{
  padding    : 0.7rem;
  background : $header-footer-bg;
  border-radius: var(--bs-modal-border-radius);
    height: 100%;
  // Part of Tabs 2.0
}

.modal-tabs > .row
{
  height: calc(100% - 45px);
  // Part of Tabs 2.0
}

/**
 * Make the header text stand out a little
 */
.modal-header
{
  //font-weight: 600;
  //background: $header-footer-bg;

  text-transform : uppercase;
  letter-spacing : 1.5px;
  font-weight    : 400;
  font-size      : smaller;
  background     : hsla(210, 20%, 99%, 1);
  border-bottom  : .9px solid $border-color;
}

.modal-title > .far
{
  font-weight : 100 !important;
}

/**
 * The (optional) modal close button must
 * be placed all the way to the right.
 * Paddding and margins must be reset.
 */
.modal-header .btn-close
{
  float   : right;
  padding : 0;
  margin  : 0;
}

/**
 * Give the main modal icon in the header
 * a little breathing room.
 */
.modal-header .modal-title i:first-of-type
{
  margin-right : .5rem;
}

//.modal-title{
//  margin-bottom: 0; //Undoing Bootstrap
//}

.modal-body > *
{
  width : 100%; // For Microsoft Edge
  width : -webkit-fill-available;
  width : -moz-fill-available;
  width : fill-available;
}

/**
 * Set the body class to col-scroll to
 * enable col-scrolling in one of the columns.
 */
.modal-body.col-scroll
{
  display : flex;
}

/**
 * Identifies the column to enable col-scrolling.
 */
.modal-body .col-scroll
{
  overflow-y : auto;
  max-height : 100%;
}

.modal-footer
{
  background : $header-footer-bg;
}

.modal-footer > *
{
  margin : 0.25rem 0;
}

/**
 * The content sits behind the tabs.
 * This will give it the same background color.
 */
.modal-tab > .modal-content {
  background: $header-footer-bg;
}

.modal-tab .modal-footer {
  margin: -14px 16px 11px 0;
}
.modal-tab .modal-footer > .container {
  margin-top: 12px;
  margin-bottom: -12px;
  margin-right: -27px;
}

/**
 * A div that sits inside the modal-footer container.
 * Only visible when the footer is overwritten by forms.
 */
.footer-content
{
  float : left;
}