/**
 * All icons in the navigation must be light
 */
nav i {
  font-weight: 300 !important;
}

/**
 * Removes the underline on hover for navigations links.
 */
nav a:hover {
  text-decoration: none !important;
}

/**
 * The meta navigation bar on the very top of the screen
 */
#navbar-level1 {
  height: $navbar-level1-height;
  background: $navbar-level1-bg;
  top: 0;
  left: 0;
  width: 100%;
  padding: .7rem;
  color: white;

  //box-shadow: 0px 1px 9px -5px rgb(0, 0, 0);
}

/**
 * The logo that sits inside the navbar meta to the top right
 */
.navbar-level1-logo {
  //opacity: .75;
  margin-left: 0.25rem;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

/**
 * If an SVG image is used in the logo,
 * and the logo is a link, it needs some
 * special properties to ensure the link works.
 */
a.navbar-level1-logo {
  position: absolute;
  z-index: 1;
}

a.navbar-level1-logo > object {
  position: relative;
  z-index: -1;
}

a.navbar-level1-logo,
a.navbar-level1-logo:hover,
{
  color: white;
  text-decoration: none;
}

/**
 * Logo image dimensions
 */
.navbar-level1-logo > img,
.navbar-level1-logo > object {
  height: 25px;
  //width: 75px;
}

/**
 * The buttons to the very right on the meta navbar
 */
#navbar-level1-buttons {
  float: right;
  margin: 4px -3px;
}

#navbar-level1-buttons > * {
  margin-left: 15px;
}

#navbar-level1-buttons > .nav-right > .parent > a:hover {
  opacity: 1;
}

#navbar-level1-buttons > .nav-right > .parent > a {
  opacity: .75;
}

/**
 * Silly effect to make it shine slowly when hovering over it.
 */
.navbar-level1-logo:hover {
  opacity: 1;

  -webkit-animation: all 1.5s ease-in-out infinite alternate;
  -moz-animation: all 1.5s ease-in-out infinite alternate;
  animation: all 1.5s ease-in-out infinite alternate;
}

/**
 * The main navigation bar below the meta bar
 */
#navbar-level2 {
  height: $navbar-level2-height;
  background: #ffffff; //$navbar-level2-bg;
  z-index: -1;
  //box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.2);
  //box-shadow: 0px -1px 2px 2px rgba(0, 0, 0, .15);
  border-bottom: .9px solid $border-color;
  padding-left: .5rem;
}

/**
 * The main title
 */
.navbar-title {
  font-size: 1.25rem;
  color: white;
  margin-right: 2rem;
  font-weight: 500;
}

/**
 * Main title on hover
 */
.navbar-title:hover {
  color: white;
  text-decoration: none;
}

.navbar-sidebar-toggle {
  //color         : white;
  margin-right: -.25rem;
  border: 1pt solid #00000000;
  padding: 5px 10px;
  border-radius: 0.25rem;

  right: 1.3rem;
  position: absolute;
}

.navbar-sidebar-toggle.show {
  color: $border-color;
  border: 1pt solid $border-color;
  padding: 5px 10px;
  border-radius: 0.25rem;
}

/**
 * Icons in the navigation menu
 */
nav li i {
  margin-right: .75rem;
}

/**
 * Exclude badges
 */
nav li .badge i {
  margin-right: 0;
}

/**
 * How to treat badges
 * Beta
 */
.nav-left .badge {
  float: right;
  margin: 0.4rem 0;
}

.nav-link {
  padding: 0.5rem 1rem;
}

.nav-link.icon-only {
  padding: 0.5rem;
  // Reduce the padding from .5rem 1rem to just .5rem
}

/**
 * Desktop
 */
@media screen and (min-width: 768px) {
  /**
   * Keep the toggle hidden until it's needed
   */
  .navbar-sidebar-toggle {
    display: none;
  }

  /**
   * For the main navigation on the *left* side of the screen.
   * This navigation will be moved to a sidebar on mobile view.
   *
   */
  nav .nav-left > .parent {
    margin-right: 1rem;
    float: left;

    // Will prevent items to spill onto two lines
    white-space: nowrap;
  }

  .nav-left > .parent,
  .nav-left > .parent > a {
    color: map-get($theme-colors, "black");
  }

  .nav-left {
    margin: 0;
    padding: 0;

    //Will allow the items to stay on one line, even if the screen isn't wide enough
    width: max-content;
  }

  .nav-left > li > a,
  .nav-left > li > div {
    padding: 0 .5rem;
    /*background-color: #5588a3;*/
  }

  /**
   * What happens when an element is hovered over
   */
  .nav-left .parent:hover > ul {
    display: block;
    position: absolute;
    -webkit-animation: fadeIn 300ms;
    animation: fadeIn 300ms;
  }

  /**
   * A single navigation element
   */
  .nav-left .parent > ul {
    display: none;

    position: absolute;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: .25rem;
    box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);
  }

  /**
 * Rounded corners
 */
  .nav-left .parent > ul li:first-child,
  .nav-left .parent > ul li:first-child:hover > a {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem !important;
  }

  .nav-left .parent > ul li:last-child,
  .nav-left .parent > ul li:last-child:hover > a {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

  .nav-left .parent > ul li a {
    color: #000000;
  }
}

.nav-right .parent > ul li a {
  color: #000000;
}

/**
 * For when menu items have badges
 */
.nav-right .parent > ul li a .badge,
.nav-right .parent > ul li div .badge {
  float: right;
  margin: 6px 0 0 0;
  height: 100%; // An attempt to prevent the badge to hide in menu items, not sure if it's working in IE Edge
}

/**
 * Disabled menu items.
 * Expects the disabled class to be on the li belonging to the menu item
 */
.nav-right .parent > ul li .disabled {
    cursor: default;
}

.nav-right .parent > ul li .disabled .badge {
  opacity: .25;
}

.nav-right .parent > ul li .disabled:hover {
  background-color: unset;
  cursor: default;
}

/**
* Rounded corners
*/
.nav-right .parent > ul li:first-child,
.nav-right .parent > ul li:first-child:hover > a {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem !important;
}

.nav-right .parent > ul li:last-child,
.nav-right .parent > ul li:last-child:hover > a {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

/**
 * For navigation on the *right* side of the screen
 */
nav .nav-right {
  margin: 0;
  padding: 0;
  float: right;
}

.nav-right > li > a {
  //padding: .5rem;
}

.nav-right > li > a:hover {
  /* formatting the top level link on hover*/
  /* only for the time when the cursor is over the item */
}

.nav-right > .parent > ul {
  right: 0;
  top: calc(100% + -.5rem);
  //Seems to be enough space to go "under" the button
}

/**
 * What happens when an element is hovered over
 */
.nav-right .parent:hover > ul {
  display: block;
  position: absolute;
  -webkit-animation: fadeIn 300ms;
  animation: fadeIn 300ms;
  width: max-content;
}

/**
 * A single navigation element
 */
.nav-right .parent > ul {
  display: none;

  position: absolute;
  float: left;
  min-width: 10rem;
  padding: 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: .25rem;
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.25);

  z-index: 5; //This is because otherwise they can disappear behind select items, buttons, etc
}

/**
 * If parent class is set to "dropup", shoot it up instead of down.
 * Experimental.
 */
.dropup + ul {
  top: auto !important;
  bottom: 30px;
}

/**
 * Put in place a max-height limit to avoid menus disappearing
 * if the screen resolution doesn't allow for its full height.
 */
ul.dropdown-leaf {
  max-height: 70vh;
  overflow-y: auto;
}

nav .parent {
  display: block;
  position: relative;
  line-height: 30px;

  z-index: auto; //This is just so that the dropdown hamburger-button doesn't drown behind other elements
}

/**
 * How items on the right on level 1 are displayed
 */
#ui-navigation .nav-right > .parent{
  margin-left: 1rem;
}
.nav-right > .parent{
  display: inline-block;
  cursor: pointer;
}

/**
 * Experimental space so that button
 * bars in a table are placed better.
 */
.table-body .nav-right {
  margin-right: 0.5rem;
}

nav .parent li {
  background-color: #ffffff;
}

nav .parent a {
  //color: #FFFFFF;
  text-decoration: none;
}

/**
 * If they are not a link themselves,
 * only portals to their children,
 * change the cursor to a pointer
 */
.nav-left .parent > div {
  cursor: default;
}

/**
 * Animation for when a menu or sub menu item appears.
 */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 5px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: 5px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}

/**
 * Markers to indicate that the element is a "parent"
 */
nav .nav-left .parent > ul > .parent > div:after {
  content: "›";
  float: right;
  margin-left: 1rem;
}

nav .nav-right .parent > ul > .parent > div:after {
  content: "‹";
  float: right;
}


nav .parent > ul li {
  line-height: 30px;
  width: 100%;
  min-width: max-content;
  //overflow: hidden; This will prevent grand children
  white-space: nowrap;
  //max-width: 300px;

  //border-bottom : .9px solid $border-color;
}

nav .parent > ul li > a,
nav .parent > ul li > div {
  //color: #000000;
  padding: 0.3rem 1rem;
  display: block;
  font-weight: 400;
  //border-bottom : .9px solid $border-color;
}

#navbar-level1 .nav-right > .parent > div.menu-title
{
  margin-top : -6px;
}

/**
 * Disabled navigation elements
 */
nav .parent > ul li div.disabled {
  opacity: .25;
  cursor: default;
}

nav .nav-left ul ul, nav .nav-left ul ul ul {
  left: 100%;
  top: 0;
}

nav .nav-right ul ul, nav .nav-right ul ul ul {
  right: 100%;
  top: 0;
}

nav .parent li a:hover {
  background-color: #f0f0f0;
}

nav .expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}

//}

/**
 * Mobile
 */
@media screen and (max-width: 767px) {
  /**
 * Only display the toggle when it's needed
 */
  .navbar-sidebar-toggle {
    display: unset;
  }

  nav .parent > ul li > a,
  nav .parent > ul li > div {
    padding: .85rem;
  }

  .nav-left a,
  .nav-left div:not(.badge),
  nav label {
    display: block;
    padding: .85rem;
    color: $white;
    background-color: #151515;
    box-shadow: inset 0 -1px #1d1d1d;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
  }

  .nav-left a:focus, .nav-left a:hover, .nav-left label:focus, .nav-left label:hover {
    color: rgba(255, 255, 255, 0.5);
    background: #030303;
  }

  .nav-left label {
    cursor: pointer;
  }

  /**
   * Styling first level lists items
   */
  .nav-left > .parent > a,
  .nav-left > .parent > div:not(.badge),
  .nav-left > .parent > label {
    padding-left: 1rem;
    background: #252525;
    box-shadow: inset 0 -1px #373737;
  }

  .nav-left > .parent a:focus, .nav-left > .parent a:hover, .nav-left > .parent label:focus, .nav-left > .parent label:hover {
    background: #131313;
  }

  /**
   * Styling second level list items
   */
  .nav-left > .parent ul a,
  .nav-left > .parent ul div:not(.badge),
  .nav-left > .parent ul label {
    padding-left: 2rem;
    background: #353535;
    box-shadow: inset 0 -1px #474747;
  }

  .nav-left > .parent ul a:focus,
  .nav-left > .parent ul a:hover,
  .nav-left > .parent ul label:focus,
  .nav-left > .parent ul label:hover {
    background: #232323;
  }

  /**
   * Styling third level list items
   */
  .nav-left > .parent ul > .parent ul a,
  .nav-left > .parent ul > .parent ul div:not(.badge),
  .nav-left > .parent ul > .parent ul label {
    padding-left: 3rem;
    background: #454545;
    box-shadow: inset 0 -1px #575757;
  }

  .nav-left > .parent ul > .parent ul a:focus,
  .nav-left > .parent ul > .parent ul a:hover,
  .nav-left > .parent ul > .parent ul label:focus,
  .nav-left > .parent ul > .parent ul label:hover {
    background: #333333;
  }

  /**
   * Hide nested lists
   */
  /*.group-list, .sub-group-list, .sub-sub-group-list {*/
  .nav-left .parent > ul {
    height: 100%;
    max-height: 0;
    overflow: auto;
    -webkit-transition: max-height .5s ease-in-out;
    transition: max-height .5s ease-in-out;
  }

  /**
   * Remove scrollbars for very long lists
   */
  .nav-left .parent > ul::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none; /*Safari and Chrome*/
  }

  .nav-left .parent:hover > ul {
    max-height: max-content;
  }

  label > span {
    float: right;
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease;
  }

  nav .nav-left .parent > ul > .parent > a:hover::after {
    content: "›";
    float: right;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .nav__list input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .nav-left li {
    display: block;
  }
  .nav-left ul, ul.nav-left {
    padding: 0;
  }

  // Ensure the menu doesn't drown out the page on small pages
  .nav-right .parent:hover > ul {
    max-width: 300px;
    overflow: hidden;
  }

  // Ensure the title of the subscription doesn't drown on mobile
  #navbar-level1 .nav-right > .parent > div.menu-title {
    margin-top: 0;
    line-height: 1;
    max-width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Ensure the title sits right on mobile
  #navbar-level1-buttons {
    margin: 4px 2px;
  }
}

.nav-dropdown {
  padding: .2rem 0 0 .5rem !important;
  width: 0;
  font-size:90%;
  // We're reducing the size slightly to make the lines look even, at 100% they don't
}

.nav-dropdown > a > i {
  margin: 0;
}

/**
 * So that the top level buttons don't hide the bars when hovered over.
 */
.card nav .nav-right,
.modal nav .nav-right {
  padding-right: 1.5rem;
}