/**
 * Formatting for the pre and post around
 * a bootstrap progress bar.
 */
.progress-bar-pre {
  font-weight: 500;
  margin-bottom: 3px;
}
.progress-bar-post {
  font-size: 80%;
  width: 100%;
  text-align: right;
  margin-top: 5px;
}