/**
 * Formatting for the pre and post around
 * a bootstrap progress bar.
 */
.progress-bar-pre {
  margin-bottom: 1rem;
  font-size: 85%;
}

.progress-bar-post {
  font-size: 80%;
  width: 100%;
  text-align: right;
  margin-top: 1rem;
}