/**
 * The colour of links.
 */
a
{
  color           : map-get($theme-colors, "primary");
  text-decoration : none;
}

a:not(.btn):hover
{
  color           : map-get($theme-colors, "primary");
  text-decoration : underline;
}

.align-text-center
{
  text-align : center;
  width      : 100% !important;
}


smaller, .smaller
{
  font-size   : 90% !important;
  font-weight : 300 !important;
}

smallest, .smallest
{
  font-size   : 80% !important;
  font-weight : 300 !important;
}

tiny, .tiny
{
  font-size   : 70% !important;
  font-weight : 300 !important;
}

.text-silent
{
  color : hsla(207, 7%, 86%, 1) !important;
}

.text-subtitle
{
  margin      : 0 0 0.5rem 0;
  font-weight : 200;
  font-size   : 85%;
  line-height : 85%;
}

.text-italic
{
  font-style : italic;
}

/**
 * For when text in Grids is placed in title/body keys instead of HTML.
 */
.text-title
{
  font-weight : 500;
  line-height : 24pt;
}

/**
 * An override for when text titles are in modals
 */
.modal .text-title
{
  line-height : unset;
}

.text-body
{
  font-weight : 300;
}

/**
 * Formatting for monospace (money, amounts) text.
 */
.text-monospace
{
  font-family : $font-family-monospace;
  font-size   : 90%;
}

/**
 * For when text is displayed as headline and body copy.
 * This is the header.
 */
.text-header
{
  font-weight : 600;
}

/**
 * This is the description
 */
.text-desc
{
  color         : $gray-600;
  font-weight   : 300;
  font-style    : italic;
  overflow-wrap : anywhere;
}

/**
 * For text that needs to stay on one line,
 * with overflow hidden. Useful for mobile.
 */
.text-flat
{
  overflow    : hidden;
  white-space : nowrap;
}

.code-mute
{
  //background: #f9f9f9;
  //padding: 1rem;
  //box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

/**
 * When you hover over code in a table, it pops out.
 */
.table-body .code-mute:hover
{
  background : white;
  z-index    : 999;
  position   : absolute;
  padding    : 1rem;
  margin     : -1rem;

  background : $header-footer-bg;
  box-shadow : 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

/**
 * Hide scroll bars for big chunks of code
 */
.code-mute > pre
{
  overflow : hidden;
}

/**
 * Overriding the normal code formatting
 */
.code-mute > pre > code
{
  font-weight : normal !important;
  font-size   : smaller;
}

.clipboard:not(.btn, .dropdown-item)::after
{
  content     : "\f0c5";
  font-family : "Font Awesome 6 Pro";
  font-size   : small;
  margin      : 0 0.2rem;
  opacity     : 0.5;
}

.clipboard:not(.btn):hover::after
{
  opacity : 1;
  cursor  : pointer;
}

/**
 * PrismJS formatting
 */
:not(pre) > code[class*="language-"], pre[class*="language-"]
{
  background    : #f9fafb !important;
  box-shadow    : inset 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius : 0.25rem;
}

/**
 * The list style type
 */
ul {
  list-style-type: square;
}