/**
 * The height of the navigation bars
 */
$navbar-level1-height: 3rem;
$navbar-level2-height: 3rem;
$navbar-height: 6rem; //$navbar-level1-height + $navbar-level2-height;

/**
 * The padding afforded to cards by default
 */
$card-spacer-y: 1rem;

/**
 * General definitions of extra-small items (input, button, etc)
 */
$border-radius-xs:  .15rem !default;
$font-size-xs:      $font-size-base * .75;
$line-height-xs:    1.25;

/**
 * Form items border width
 */
$form-item-border-width: .9px;

/**
 * Doesn't work?
 */
$enable-rounded: true;


/**
 * XXL modals
 */
$modal-xxl: 1320px !default;

/**
 * Dropdown menu items on active.
 */
$dropdown-link-active-bg:           map-get($grays, "800") !important;