/**
 * Fonts
 */
//@import url('https://fonts.googleapis.com/css?family=Tajawal:200,300,400,500,700,800,900');
//very nice, good arabic support, but larger sizes not so nice

@import url('https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
//Similar to the DIN font family, very tidy

/**
 * Only by loading these two, can we edit the theme colours by variable
 */
@import "../../../bootstrap-4.4.1/scss/_functions.scss";
@import "../../../bootstrap-4.4.1/scss/_variables.scss";

/**
 * Bootstrap variable overrides
 */
$font-family-sans-serif: "Barlow";
$font-family-base: "Barlow";

/**
 * The height of the navigation bars
 */
$navbar-level1-height: 40;
$navbar-level2-height: 50;
$navbar-height: $navbar-level1-height + $navbar-level2-height;

/**
 * The padding afforded to cards by default
 */
$card-spacer-y: 1rem;

/**
 * General definitions of extra-small items (input, button, etc)
 */
$border-radius-xs:  .15rem !default;
$font-size-xs:      $font-size-base * .75;
$line-height-xs:    1.25;

/**
 * Doesn't work?
 */
$enable-rounded: true;

/**
 * All colour variables.
 *
 * Needs to be loaded before the bootstrap SCSS,
 * because it will influence variables there.
 */
@import "colours";


/**
 * Bootstrap
 */
@import "../../../bootstrap-4.4.1/scss/bootstrap";

/**
 * Custom CSS.
 * The order here also matters.
 */

@import "alert";
@import "sidebars";
@import "navigation";
@import "dropdown";
@import "footer";
@import "help";
@import "card";
@import "modal";
@import "page";
@import "buttons";
@import "form";
@import "spinners";
@import "type";

@import "gridstack";
// Only strictly necessary if Gridstack is enabled

@import "magic-check";
// Custom magic-check CSS